.vs/
.github/

QuizApp.Data/.vs/
QuizApp.Data/bin/
QuizApp.Data/obj/

QuizConsole/.vs/
QuizConsole/bin/
QuizConsole/obj/

QuizWeb/appsettings.Development.json
QuizWeb/QuizWebcsproj.user

QuizWPF/.vs/
QuizWPF/bin/
QuizWPF/obj/