.vs/
.github/

/QuizApp.Data/.vs/
/QuizApp.Data/bin/
/QuizApp.Data/obj/

/QuizConsole/.vs/
/QuizConsole/bin/
/QuizConsole/obj/

/QuizWeb/appsettings.Development.json
/QuizWeb/QuizWeb.csproj.user
/QuizWeb/bin/
/QuizWeb/obj/

/QuizWPF/.vs/
/QuizWPF/bin/
/QuizWPF/obj/