@page
@model QuizWeb.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    <h2>Quiz App</h2>
    <p>Podaj swoje imię:</p>
    <form method="post">
        @Html.AntiForgeryToken()

        <input asp-for="UserName" required />
        <button type="submit">Dalej</button>
    </form>
}